# ==========================================================
# LLM Provider
# ==========================================================
LLM_PROVIDER=choose your LLM provider: gemini or openai

# ==========================================================
# Gemini
# ==========================================================
GEMINI_API_KEY=your_api_key
GEMINI_MODEL=gemini-2.5-flash
GEMINI_BASE_URL=https://generativelanguage.googleapis.com/v1beta/openai/

# ==========================================================
# OpenAI
# ==========================================================
OPENAI_API_KEY=your_api_key
OPENAI_MODEL=gpt-5
OPENAI_BASE_URL=https://api.openai.com/v1